In [1]:
#Import the necessary modules.
import json
import requests
import pandas as pd
import numpy as np

#Initialize the API URL Endpoint. 

API_URL = "https://www.alphavantage.co/query"

#We are scraping the stock prices of ten companies. But there's a limitation.

#This API only allows us to make 5 calls per minute. This means at max, only 5 companies per call.

#API Documentation can be referenced here : https://www.alphavantage.co/documentation/

#Creating the headers for our dataframe so that we can output our results into a csv file.
Stock_symbol = []
Starting_price = []
high_price = []
low_price = []
price_change = []
price_change_percent = []

symbols= ["GOOG", "JPM", "WMT", "PG", "AMD"] #Company stock prices we're interested in retrieving. These are their ticket symbols. 
for symbol in symbols:
    data = {
        "function": "GLOBAL_QUOTE",
        "symbol": symbol,
        "apikey": "Insert Your API Key Here",
        }

#Making the request to the server.
    response = requests.get(API_URL, params=data)

    #Extracting the raw JSON data and assigning it to the "data" variable.
    raw_data = response.json()


    try:
      symbol = raw_data['Global Quote']['01. symbol']

      open_price = float(raw_data['Global Quote']['02. open'])

      highest_price = float(raw_data['Global Quote'] ['03. high'])

      lowest_price = float(raw_data['Global Quote'] ['04. low'])

      change_in_price = float(raw_data['Global Quote'] ['09. change'])

      change_percentage = raw_data['Global Quote'] ['10. change percent']

#Appending the headers with our filtered data.
      Stock_symbol.append(symbol)
      Starting_price.append(open_price)
      high_price.append(highest_price)
      low_price.append(lowest_price)
      price_change.append(change_in_price)
      price_change_percent.append(change_percentage)

#Output the filtered information to confirm its what we need.
      print(symbol, open_price, highest_price, lowest_price, change_in_price, change_percentage)
    except KeyError:
      continue

GOOG 107.8 108.29 106.04 -0.15 -0.1384%
JPM 136.56 138.32 135.67 1.19 0.8683%
WMT 151.29 152.17 150.18 -0.41 -0.2708%
PG 156.275 157.37 155.76 -0.09 -0.0575%
AMD 87.02 89.75 86.44 1.93 2.2072%

In [2]:
#Confirming that the data frame has the data we are looking for by outputting the results.
df = pd.DataFrame({
    "Stock Symbol": Stock_symbol,
    "Starting Price": Starting_price,
    "High Price": high_price,
    "Low Price": low_price,
    "Price Change": price_change,
    "Price Change Percent": price_change_percent
})

print(df)

  Stock Symbol  Starting Price  High Price  Low Price  Price Change  \
0         GOOG         107.800      108.29     106.04         -0.15
1          JPM         136.560      138.32     135.67          1.19
2          WMT         151.290      152.17     150.18         -0.41
3           PG         156.275      157.37     155.76         -0.09
4          AMD          87.020       89.75      86.44          1.93

  Price Change Percent
0             -0.1384%
1              0.8683%
2             -0.2708%
3             -0.0575%
4              2.2072%

In [3]:
#Now that we confirmed we have our data, it's time to do some basic analysis!
df.describe()

       Starting Price  High Price   Low Price  Price Change
count        5.000000    5.000000    5.000000       5.00000
mean       127.789000  129.180000  126.818000       0.49400
std         29.590333   29.145638   29.681175       1.01483
min         87.020000   89.750000   86.440000      -0.41000
25%        107.800000  108.290000  106.040000      -0.15000
50%        136.560000  138.320000  135.670000      -0.09000
75%        151.290000  152.170000  150.180000       1.19000
max        156.275000  157.370000  155.760000       1.93000

In [8]:
#We need to perform another API call to acquire another 5 companies and their stock price data.
#Creating a new set of headers for the next batch.
Stock_symbol2 = []
Starting_price2 = []
high_price2 = []
low_price2 = []
price_change2 = []
price_change_percent2 = []

symbols= ["AAPL", "MSFT", "TSLA", "AMZN", "NVDA"] #Company stock prices we're interested in retrieving. These are their ticket symbols. 
for symbol in symbols:
    data = {
        "function": "GLOBAL_QUOTE",
        "symbol": symbol,
        "apikey": "Insert Your API Key Here",
        }

#Making the request to the server again.
    response = requests.get(API_URL, params=data)

#Extracting the raw JSON data and assigning it to another "data" variable.
    raw_data2 = response.json()

    try:
      symbol2 = raw_data2['Global Quote']['01. symbol']

      open_price2 = float(raw_data2['Global Quote']['02. open'])

      highest_price2 = float(raw_data2['Global Quote'] ['03. high'])

      lowest_price2 = float(raw_data2['Global Quote'] ['04. low'])

      change_in_price2 = float(raw_data2['Global Quote'] ['09. change'])

      change_percentage2 = raw_data2['Global Quote'] ['10. change percent']

      #Appending the new headers with our filtered data.
      Stock_symbol2.append(symbol2)
      Starting_price2.append(open_price2)
      high_price2.append(highest_price2)
      low_price2.append(lowest_price2)
      price_change2.append(change_in_price2)
      price_change_percent2.append(change_percentage2)

#Output the filtered information to confirm its what we need.
      print(symbol2, open_price2, highest_price2, lowest_price2, change_in_price2, change_percentage2)
    except KeyError:
      continue

AAPL 168.49 169.85 167.8801 1.27 0.7541%
MSFT 304.01 308.93 303.31 2.43 0.7972%
TSLA 160.9 165.0 157.32 4.12 2.5719%
AMZN 107.73 109.48 104.33 -4.37 -3.9792%
NVDA 272.25 277.58 270.7148 5.23 1.9210%

In [9]:
#Confirming that the data frame has the data we are looking for by outputting the results.
df2 = pd.DataFrame({
    "Stock Symbol2": Stock_symbol2,
    "Starting Price2": Starting_price2,
    "High Price2": high_price2,
    "Low Price2": low_price2,
    "Price Change2": price_change2,
    "Price Change Percent2": price_change_percent2
})

print(df2)

  Stock Symbol2  Starting Price2  High Price2  Low Price2  Price Change2  \
0          AAPL           168.49       169.85    167.8801           1.27
1          MSFT           304.01       308.93    303.3100           2.43
2          TSLA           160.90       165.00    157.3200           4.12
3          AMZN           107.73       109.48    104.3300          -4.37
4          NVDA           272.25       277.58    270.7148           5.23

  Price Change Percent2
0               0.7541%
1               0.7972%
2               2.5719%
3              -3.9792%
4               1.9210%

In [10]:
#Now that we confirmed we have our data, it's time to do some basic analysis!
df2.describe()

       Starting Price2  High Price2  Low Price2  Price Change2
count         5.000000     5.000000    5.000000        5.00000
mean        202.676000   206.168000  200.710980        1.73600
std          82.215845    83.698974   83.182076        3.73743
min         107.730000   109.480000  104.330000       -4.37000
25%         160.900000   165.000000  157.320000        1.27000
50%         168.490000   169.850000  167.880100        2.43000
75%         272.250000   277.580000  270.714800        4.12000
max         304.010000   308.930000  303.310000        5.23000

In [11]:
#We need to merge the two dataframes to create one comprehensive dataframe.
df3=pd.concat([df,df2],axis=1,join='outer')
print(df3)

  Stock Symbol  Starting Price  High Price  Low Price  Price Change  \
0         GOOG         107.800      108.29     106.04         -0.15
1          JPM         136.560      138.32     135.67          1.19
2          WMT         151.290      152.17     150.18         -0.41
3           PG         156.275      157.37     155.76         -0.09
4          AMD          87.020       89.75      86.44          1.93

  Price Change Percent Stock Symbol2  Starting Price2  High Price2  \
0             -0.1384%          AAPL           168.49       169.85
1              0.8683%          MSFT           304.01       308.93
2             -0.2708%          TSLA           160.90       165.00
3             -0.0575%          AMZN           107.73       109.48
4              2.2072%          NVDA           272.25       277.58

   Low Price2  Price Change2 Price Change Percent2
0    167.8801           1.27               0.7541%
1    303.3100           2.43               0.7972%
2    157.3200           4.12               2.5719%
3    104.3300          -4.37              -3.9792%
4    270.7148           5.23               1.9210%

In [12]:
#For the sake of brevity, here's some statistical analysis on the combined dataframe.
df3.describe()

,Starting Price,High Price,Low Price,Price Change,Starting Price2,High Price2,Low Price2,Price Change2
count,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.00000
mean,127.789000,129.180000,126.818000,0.49400,202.676000,206.168000,200.710980,1.73600
std,29.590333,29.145638,29.681175,1.01483,82.215845,83.698974,83.182076,3.73743
min,87.020000,89.750000,86.440000,-0.41000,107.730000,109.480000,104.330000,-4.37000
25%,107.800000,108.290000,106.040000,-0.15000,160.900000,165.000000,157.320000,1.27000
50%,136.560000,138.320000,135.670000,-0.09000,168.490000,169.850000,167.880100,2.43000
75%,151.290000,152.170000,150.180000,1.19000,272.250000,277.580000,270.714800,4.12000
max,156.275000,157.370000,155.760000,1.93000,304.010000,308.930000,303.310000,5.23000

In [13]:
#Output the combined results of the two dataframes to a .CSV for exporting and further analysis.
df3.to_csv('Stock Price Data Batch.csv', index=False)